<ion-header mode="md">
  <ion-toolbar>
    <ion-title>
      <div class="version">猫の隅 - Store </div>
      <strong>Neko No Sumi</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="glass-content" >
    
    <ion-card>
      <!-- Contenido de un Card -->
      <ion-card-content>
        <ion-item lines="none">
          <!-- {{interpolacion}} 
            Permite mostrar los datos desde el script a la visual
            verificar el data en el home.page.ts
          -->
          <ion-label >Usuario: {{data.ValorEnviar.usuario}}</ion-label>
        </ion-item>
      </ion-card-content>
      <!-- Contenido de un Card -->
    </ion-card>

  </div>
  
  
  
</ion-content>
